page-results {
    .pad-0 {
        padding: 0;
    }
    
    .mar-0 {
        margin: 0;
    }

    .center {
        text-align: center;
    }

    .tx-right {
        text-align: right;
    }

    .h4Title {
        color: rgb(187, 0, 187);
        font-weight: bold;
        font-size: 15px;
    }

    .rowGrid {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 4px;
        background-color: #b2b8b2;
        margin-bottom: 10px;
        padding: 7px 10px;
    }

    .h5Description {
        color: white;

    }

    .spanDescription {
        color: rgb(187, 0, 187);
    }

}
