page-home {
    .pad-0 {
        padding: 0;
    }
    
    .mar-0 {
        margin: 0;
    }

    h5 {
        margin: 0;
        padding-top: 12px;
        font-weight: 400;
    }

    .mar-b-15 {
        margin-bottom: 15px;
    }

    .mar-t-15 {
        margin-top: 15px;
    }

    .padd-l-r-5 {
        padding: 0 5px;
    }

    .paddingDiv {
        padding: 30px 20px 0 20px;
    }

    .width100 {
        width: 100%;
    }

    .center {
        text-align: center;
    }

    .tx-right {
        text-align: right;
    }

    .titleTable {
        color: rgb(82, 82, 82);
        margin: 0;
        padding: 13px 0;
        font-weight: 400;
        font-size: 17px;
    }

    .rowTitleTable {
        background-color: #6f6f6f;
    }

    .colTable {
        border: solid 1px #a5a5a5;
    }

    .pad-r-10 {
        padding-right: 10px;
    }

    ion-icon {
        color: #a028a9;
        font-size: 30px;
    }

    .pad-t-b-5 {
        padding: 5px 0;
    }

    .m-t-b-15 {
        margin: 15px 0;
    }

    .weatherClass {
        background-color: #a2a2a2;
        padding: 5px 10px;
    }

    .color-white {
        color: white;
    }

    .rowCard {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 4px;
        background-color: #b2b8b2;
        margin-bottom: 10px;
        padding: 7px 10px;
    }

    .selectInput {
        border-radius: 3px;
        padding: 10px 10px;
        transition: border all .3s;
        width: 100%;
        border: 2px solid rgb(239, 239, 239);
    }
}
